@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout helper */
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
